/* Place your CSS styles in this file */
body {background-image: url("download.jpg");
    border-style: double;
    border-color: red yellow green hsla(60, 90%, 50%, .8);
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 1026px;
    min-width: 256px;
    }
    h1 {
        text-align: center;
        font-family: "Brush Script MT", cursive;
        font-weight: bold;
        animation: color 5s infinite;
    }
    @keyframes color {
        0%{color : paleturquoise}
        10%{color: peachpuff}
        20%{color: violet}
        30%{color: blueviolet}
        40%{color: blue}
        50%{color: brown}
        60%{color: palevioletred}
        70%{color: palegreen}
        80%{color: peru}
        90%{color: yellow}
        100%{color: lightcoral}
    }
    h2 {
        text-align: center;
        font-weight: bold;
    }

.container-navbar{
    background-color: #333;
    width: 100%;
    height: 60px;
}
.ul-navbar{
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: top;
}
.li-navbar{
    list-style-type: none;
    color: white;
    padding:15px;
    margin: 3px;
    font-size: 20px;
    font-weight: 800;
    height: 20%;
}
.a-navbar{
    color: white;
    text-decoration: none;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.li-navbar:hover{
    background-color: rgb(99, 16, 155);
}